@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">

        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top img-fluid" src="@Url.Content("~/img/tcl.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Card 6 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <!-- Card 7 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <!-- Card 8 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <!-- Card 9 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>

        <!-- Card 10 -->
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/img/nopfp.png")" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">Some quick example text to build</p>
                    <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
